.itemsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  overflow-y: scroll;
  max-height: 100%;
  column-gap: 20px;
  row-gap: 20px;
  padding: 5%;
  padding-bottom: 20%;
}

.item {
  width: 80%;
  aspect-ratio: 1/1;
  background-color: #fadadd;
  margin: auto;
  border-radius: 15%;
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s;
}

.item:hover {
  background-color: white;
  cursor: pointer;
  transform: scale(1.07);
}

.selectedItem {
  background-color: white;
  transform: scale(1.07);
}

.clothes {
  object-fit: cover;
  width: 200%;
  height: 200%;
  transform: translate(-25%, -50%);
}

.face {
  object-fit: cover;
  width: 150%;
  height: 150%;
  transform: translate(-16.5%, -15%);
}

.hair {
  object-fit: cover;
  width: 120%;
  height: 120%;
  transform: translate(-8.5%, 2%);
}

.accessory {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 1180px) and (max-width: 1530px) {
  .itemsContainer {
    padding-bottom: 25%;
  }
}

@media only screen and (max-width: 1180px) {
  .itemsContainer {
    padding-bottom: 13%;
  }
}
