.app {
  margin: 0;
  height: 100%;
  background-color: #fff5f7;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  display: none;
}

.container {
  width: 1500px;
  height: 800px;
  background-color: white;
  border: 2px solid #f78ca2;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}

.box {
  width: 50%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

h1 {
  color: #d2d48d;
  margin: 0;
}

.infoBtn {
  position: absolute;
  width: 10%;
  height: 10%;
}

.bigScreen {
  display: block;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 1025px) {
  .app {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
  }

  .outerContainer {
    height: 100%;
    width: 100%;
  }
  .container {
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    flex-direction: column;
  }

  .box {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  .box:nth-of-type(1) {
    height: 63%;
    padding-top: 3%;
  }
  .box:nth-of-type(2) {
    height: 37%;
  }

  .bigScreen {
    display: none;
  }

  .mobile {
    display: block;
    text-align: center;
  }
}
