.app {
  margin: 0;
  height: 100%;
  background-color:#fff5f7;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  display: none;
}

.container {
  width: 1500px;
  height: 800px;
  background-color: white;
  border: 2px solid #f78ca2;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}

.box {
  width: 50%;
  height: 100%;
  margin: 0;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-items: center;
}

h1 {
  color: #d2d48d;
  margin: 0;

}

.infoBtn {
  position: absolute;
  
}
